<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
id="kr.imapp.hybrid.lib.IMUtil"
version="1.0.0">

	<name>IMUtil</name>
	<description>IMUtil</description>
	<license>Apache 2.0</license>
	<keywords></keywords>
	<repo></repo>
	<issue></issue>
	<engines>
		<engine name="cordova" version=">=3.1.0" />
		<!-- Needs cordova/urlutil -->
	</engines>

	<asset src="www/imutil.js" target="js/imutil.js" />
	<asset src="www/im_i18n.js" target="js/im_i18n.js" />
	<asset src="www/ding.wav" target="media/ding.wav" />

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="IMUtil">
				<param name="android-package" value="kr.imapp.hybrid.lib.IMUtil"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			    <uses-sdk android:minSdkVersion="17"
					android:targetSdkVersion="17" />

		    <!-- // to support Nexus7 -->
		    <uses-feature
		        android:name="android.hardware.camera"
		        android:required="false" />
		    <uses-feature
		        android:name="android.hardware.telephony"
		        android:required="false" />

			<!-- <uses-permission android:name="android.permission.INTERNET"/>
					<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
					<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->	
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
		</config-file>
	</platform>

</plugin>
